{% extends "view/layouts/admin.html" %}
{% block title %}Create a language file{% endblock %}

{% block left_submenu %}
	{% include "view/shared/_lang_left_submenu.html" with new_language="true" %}
{% endblock %}

{% block right_submenu %}
	{% include "view/shared/_lang_right_submenu.html" %}
{% endblock %}

{% block meta_scripts %}
<script type="text/javascript" src="http://www.google.com/jsapi">
</script>
<script type="text/javascript">
    var translated_language_codes = {
        {% if languages %}
        {% for lang in languages %}
        '{{ lang }}' : 1
        {% if not forloop.last %},{% endif %}
        {% endfor %}
        {% endif %}
    };
    google.load("language", 1);
    function initialize() {
        var selectbox = document.getElementById('select_language');
        var langs = new Array();
        for (var lang in google.language.Languages) {
            var code = google.language.Languages[lang];
            if (google.language.isTranslatable(code) && !translated_language_codes[code]) {
                langs.push(lang);
            }
        }
        var sortedLangs = langs.sort();
        for (var i=0; i<sortedLangs.length; i++) {
            var lang = sortedLangs[i];
            var code = google.language.Languages[lang];
            var option = document.createElement('option');
            option.value = code;
			if(document.all){
				option.innerText = lang + ' ('+code.toLowerCase()+')';
			} else {
				option.textContent = lang + ' ('+code.toLowerCase()+')';
			}                        
            selectbox.appendChild(option);
        }
    }
    google.setOnLoadCallback(initialize);
</script>
{% endblock %}
{% block body %}
<h1>Create a new language</h1>
<form method="post" class="tabular">
	<div class="box">
		<div id="issue_descr_fields">
		<p>
			<label for="issue_tracker_id">Select the language<span class="required"> *</span></label>
			<select id="select_language" name="language" style="width: 120px;"></select>
		</p>
		</div>
    </div>
    <input type="submit" value="Create language file" />
</form>
{% endblock %}

