{% extends "view/model.html" %}
{% block title %}New {{ type }}{% endblock %}
{% block body %}
<h1>Create a new {{ type }}</h1>
<p><em><a href="/admin/model/{{ type }}">Back to the {{ type }} list</a></em></p>
{% if errors %}
<ol>
{% for error in errors %}
<li style="color: red;">{{ error }}</li>
{% endfor %}
</ol>
{% endif %}
<form name="create" method="post">
<table>
    {% for key, val in record.attributes %}
    {% ifnotequal key "id" %}
    {% if "_time" in key %}
    <tr><td>{{ key }}</td><td><input type="radio" name="{{ key }}" value="now" id="{{ key }}_now" checked="checked" /><label for="{{ key }}_now">Now</label>
            &nbsp; <input type="radio" name="{{ key }}" value="null" id="{{ key }}_now" /><label for="{{ key }}_null">Null</label>
    {% else %}
    <tr><td><label for="{{ key }}_textarea">{{ key }}</label></td><td><textarea id="{{ key }}_textarea" name="{{ key }}">{% if errors %}{{ val|escape }}{% endif %}</textarea></td></tr>
    {% endif %}
    {% endifnotequal %}
    {% endfor %}
</table>
<p><input type="submit" value="Create {{ type }}" /></p>
</form>
{% endblock %}
