{% extends "view/layouts/admin.html" %}
{% block title %}International Command Center{% endblock %}

{% block left_submenu %}
	{% include "view/shared/_lang_left_submenu.html" with index="true" %}
{% endblock %}

{% block right_submenu %}
	{% include "view/shared/_lang_right_submenu.html" %}
{% endblock %}

{% block meta_scripts %}
<script type="text/javascript" src="http://www.google.com/jsapi">
</script>
<script type="text/javascript">
    google.load("language", 1);
    var did_alert = false;

    function startTranslations() {
        var spans = document.getElementsByTagName('span');

        for (var i = 0; i < spans.length; ++i) {
            startTranslation(spans[i]);
        }
    }
    function startTranslation(span) {
            var span_id = span.id;
            var textbox = document.getElementById("trans_"+span_id);
            if (textbox && textbox.value == "" && span.firstChild.value != undefined) {
                google.language.translate(span.firstChild.value, "{{ original_lang }}", "{{ this_lang }}", function(result) {
                        if (!result.error) {
                            if (result.translation) {
                                textbox.value = result.translation;
                            }
                        } else {
                            if (!did_alert) {
                                alert('Error contacting Google: '+result.error.message);
                                did_alert = true;
                            }
                        }
                });
            }
    }
</script>
{% endblock %}
{% block body %}

<h1>International Command Center</h1>

{% if this_lang %}
<ul class="toc right">
	<li class="heading1"><a href="#languages">Manage Languages</a></li>
	<li class="heading2"><a href="#untranslated">Untranslated messages</a></li>
	<li class="heading2"><a href="#translated">Translated messages</a></li>
	<li class="heading2"><a href="#actions">Actions</a></li>
</ul>
{% endif %}

<h2 id="manage_languages">Manage Languages</h2>

<p>
<form action="/admin/create_lang">
    <p>
{% if languages %}
Your language files:
{% for lang in languages %}
{% ifequal lang this_lang %}
<strong>{{ lang }}</strong>
{% else %}
<a href="/admin/lang/{{ lang }}">{{ lang }}</a>
{% endifequal %}
{% endfor %}
{% endif %}
&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" value="+ New language file" />
&nbsp;&nbsp;&nbsp;&nbsp;
</p>
</form>

{% if this_lang %}
<hr>
<h2 id="untranslated">Untranslated messages</h2>
{% endif %}

{% if untranslated_messages %}
<p><em>{{ untranslated_messages|length }} untranslated messages:</em> (<a href="#" onclick="javascript:startTranslations()">Fill in the blanks with Google!</a> <span style="font-size: 11px; font-family: Courier New; font-weight: bold;">EXPERIMENTAL FEATURE</span>)</p>
<form method="post">
<table class="list files">
    <thead>
        <tr><th>Original/Translation</th></tr>
    </thead>
    <tbody>
        {% for message in untranslated_messages %}
        <tr class="{% cycle 'odd' 'even' %}">
        	<td>
        		{% if message.identifier %}
        		<span class="message" id="message{{ forloop.counter0 }}">
        			<textarea style="width: 100%;" readonly="readonly">{{ message.string }}</textarea>
        		</span>
                <input type="hidden" name="messages[{{ forloop.counter0 }}][orig]" value="{{ message.string|escape }}" />
                <input type="hidden" name="messages[{{ forloop.counter0 }}][identifier]" value="{{ message.identifier }}" />
            	<textarea id="trans_message{{ forloop.counter0 }}" name="messages[{{ forloop.counter0 }}][trans]" style="width: 100%;"></textarea>
				{% else %}
        		<span class="message" id="message{{ forloop.counter0 }}">
        			<input type="text" style="width: 100%;" value='{{ message }}' readonly="readonly">
        		</span>
                <input type="hidden" name="messages[{{ forloop.counter0 }}][orig]" value="{{ message|escape }}" />
            	<input class="trans" id="trans_message{{ forloop.counter0 }}" style="width: 100%;" name="messages[{{ forloop.counter0 }}][trans]" size="60" />
            	{% endif %}
        	</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="box">
	<div id="issue_descr_fields">
	<p>
		<label for="issue_tracker_id">Submit only translations filled in this form</label>
		<input type="submit" name="trans_only_filled" value="Submit">
	</p>
	</div>
	<div id="issue_descr_fields">
	<p>
		<label for="issue_tracker_id">Submit all translatable string to the po file (you can translate later with a translation tool like Poedit)</label>
		<input type="submit" name="trans_all_with_blanks" value="Submit">
	</p>
	</div>	
</div>
</form>
{% else %}
	{% if this_lang %}
	<h3>No untranslated string messages found</h3>
	{% endif %}
{% endif %}

{% if this_lang %}
<hr>
<h2 id="translated">Translated messages</h2>
{% endif %}

{% if translated_messages %}
<p><em>{{ translated_messages|length }} translated messages:</em></p>
<table class="list files">
    <thead>
        <tr><th>Original</th><th>Translation</th></tr>
    </thead>
    <tbody>
{% for orig, msg in translated_messages %}
	<tr class="{% cycle 'odd' 'even' %}">
		<td>{{ orig }}</td><td><em>{{ msg }}</em></td>
	</tr>
{% endfor %}
</tbody>
</table>
{% if last_modified %}
<p><em>Last modified: {{ last_modified|date:"N j, Y, P" }}</em></p>
{% endif %}
{% else %}
	{% if this_lang %}
	<h3>No translated string messages found</h3>
	{% endif %}
{% endif %}

{% if this_lang %}
<hr>
<h2 id="actions">Actions</h2>
<p><a href="/admin/delete_lang/{{ this_lang }}">Delete this language file...</a></p>
{% endif %}

{% endblock %}
