{% extends "view/layouts/admin.html" %}
{% block title %}Models data management{% endblock %}
{% block meta_scripts %}
<script src="/admin/static/jquery-1.6.1.min.js"></script>
<script src="/admin/static/news.js"></script>
<script>
    var topic_string = "{{ topic_string }}";
    var timestamp = {{ timestamp }};
    $(document).ready(function() {
        if (topic_string) {
            watch_topic(topic_string, timestamp);
        }
    });
</script>
{% endblock %}

{% block body %}
<h1>Models data management</h1>
        <p>
        {% for model in models %}
        {% ifequal model this_model %}
        <strong>{{ model }}</strong>
        {% else %}
        <a href="/admin/model/{{ model }}">{{ model }}</a>
        {% endifequal %}
        {% if not forloop.last %}
        |
        {% endif %}
        {% endfor %}
        </p>
        {% if this_model %}
        <p>
        <form name="new" action="/admin/create/{{ this_model }}">
            <input type="submit" value="+ New {{ this_model }}" />
            &nbsp; &nbsp; See also: <a href="/doc/{{ this_model }}">Documentation for the <code>{{ this_model }}</code> model</a>
        </form>
        </p>
        {% endif %}
        <table border=1>
            {% if attribute_names %}
            <tr>
                {% for attr in attribute_names %}
                <th>{{ attr }}</th>
                {% endfor %}
            </tr>
            {% endif %}
        {% for record_id, record in records %}
        <tr id="{{ record_id }}">
            <td><strong><a href="/admin/record/{{ record_id }}">{{ record_id }}</a></strong></td>
            {% for key, val, datatype in record %}
            {% if datatype == "id" %}
            {% else %}
            {% if datatype == "datetime" %}
            <td id="{{ record_id }}-{{ key }}">{{ val|date:"N j, Y, P" }}</td>
            {% else %}
            {% if datatype == "foreign_id" %}
            <td id="{{ record_id }}-{{ key }}"><a href="/admin/record/{{ val }}">{{ val }}</a></td>
            {% else %}
            {% if datatype == "string" or datatype == "binary" %}
            <td id="{{ record_id }}-{{ key }}">{{ val|truncatewords:8 }}</td>
            {% else %}
            <td id="{{ record_id }}-{{ key }}">{{ val }}</td>
            {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </table>
        {% if pages %}
        {% ifnotequal pages|length "1" %}
        <p>
        Pages: 
        {% for page in pages %}
        {% ifequal page this_page %}
        <strong>{{ page }}</strong>
        {% else %}
        <a href="/admin/model/{{ this_model }}/{{ page }}">{{ page }}</a>
        {% endifequal %}
        {% endfor %}
        </p>
        {% endifnotequal %}
        {% endif %}
        {% if this_model %}
        <p><a href="/admin/csv/{{ this_model }}">Export as CSV</a> - <a href="/admin/upload/{{ this_model }}">Bulk upload</a></p>
        {% endif %}
{% endblock %}
