{% extends "view/layouts/admin.html" %}
{% block title %}{{ record.id }} (Chicago Boss Admin Interface){% endblock %}
{% block meta_scripts %}
<script src="/admin/static/jquery-1.6.1.min.js"></script>
<script src="/admin/static/news.js"></script>
<script>
    var topic_string = "{{ record.id }}.*";
    {% for key, val in record.belongs_to %}
    {% if val %}
    topic_string += ", {{ val.id }}.*";
    {% endif %}
    {% endfor %}
    var timestamp = {{ timestamp }};
    $(document).ready(function() {
        if (topic_string) {
            watch_topic(topic_string, timestamp);
        }
    });
</script>
{% endblock %}
{% block body %}
<h1>Displaying {{ record.id }} (<a href="/admin/edit/{{ record.id }}">edit</a>)</h1>
<p><em><a href="/admin/model/{{ type }}">Back to the {{ type }} list</a></em></p>
    {% for key, val, datatype in attributes %}
    {% if not datatype == "id" %}
        <strong>{{ key }}</strong><br />
        {% if datatype == "datetime" %}
        <span id="{{ record.id }}-{{ key }}">{{ val|date:"N j, Y, P" }}</span>
        {% else %}
        {% if datatype == "string" or datatype == "binary" %}
        <span id="{{ record.id }}-{{ key }}">{{ val|linebreaksbr }}</span>
        {% else %}
        <span id="{{ record.id }}-{{ key }}">{{ val }}</span>
        {% endif %}
        {% endif %}
        <br /><br />
    {% endif %}
    {% endfor %}

    {% for key, val in record.belongs_to %}
    {% if val %}
    <strong>{{ key }}</strong>
    <table border=1>
        <tr>
        {% for attr in val.attribute_names %}
        <th>{{ attr }}</th>
        {% endfor %}
    </tr>
    <tr>
        {% for attr_name, attr_val in val.attributes %}
        {% ifequal "id" attr_name %}
        <td><strong><a href="/admin/record/{{ attr_val }}">{{ attr_val }}</a></strong></td>
        {% else %}
        {% if "_time" in attr_name %}
        <td id="{{ val.id }}-{{ attr_name }}">{{ attr_val|date:"N j, Y, P" }}</td>
        {% else %}
        <td id="{{ val.id }}-{{ attr_name }}">{{ attr_val|truncatewords:8 }}</td>
        {% endif %}
        {% endifequal %}
        {% endfor %}
    </tr>
    </table><br /><br />
    {% endif %}
    {% endfor %} 
    <form name="delete" action="/admin/delete/{{ record.id }}">
        <input type="submit" value="Delete {{ record.id }}?" />
    </form>
{% endblock %}
