{% extends "view/layouts/admin.html" %}
{% block title %}{% trans "Loaded Routes" %}{% endblock %}

{% block left_submenu %}
<ul>
	<li>{% _link_to name=_("Reload routes") url="/admin/routes/reload" _base_url=_base_url %}</li>
</ul>
{% endblock %}

{% block right_submenu %}
<ul>
	<li><a href="http://chicagoboss.org/embedded/chicagoboss/api-controller.html">{% trans "API Doc" %}</a></li>
</ul>
{% endblock %}

{% block body %}
<h1>{% blocktrans routes_1 with routes_count=routes|length %}Loaded Routes ({{ routes_count }}): file boss.routes{% endblocktrans %}</h1>

<table class="list files">
	<thead>
		<tr>
			<th>{% trans "Url/Special" %}</th>
			<th>{% trans "Controller" %}</th>
			<th>{% trans "Action" %}</th>
			<th>{% trans "Params" %}</th>
		</tr>
	</thead>
	<tbody>
	{% for route in routes %}
		<tr class="{% cycle 'odd' 'even' %}">
			<td class="filename">{{ route.url }}</td>
			<td class="filename">{{ route.controller }}</td>
			<td class="filename">{{ route.action }}</td>
			<td class="filename">{{ route.params }}</td>
		</tr>		
	{% endfor %}	
  </tbody>
</table>
{% endblock %}