{% extends "view/layouts/admin.html" %}
{% block title %}{% trans "Chicago Boss Hot Code Upgrade" %}{% endblock %}

{% block body %}
<h1>{% trans "Chicago Boss Hot Code Upgrade" %}</h1>
<form method="post" action="{{ _base_url }}/admin/upgrade" class="tabular">
<div class="box">
	<div id="issue_descr_fields">
	<p>
		<label for="issue_tracker_id">{% trans "Upgrade BEAM code" %}</label>
		<input type="submit" value="{% trans "Now" %}" />
	</p>
	</div>
</div>
</form>

<form method="post" action="{{ _base_url }}/admin/reread_news_script" class="tabular">
<div class="box">
	<div id="issue_descr_fields">
	<p>
		<label for="issue_tracker_id">{% trans "Reload news.erl" %}</label>
		<input type="submit" value="{% trans "Now" %}" />
	</p>
	</div>
</div>
</form>
{% endblock %}
