<div style="text-align: center;">
<div style="font-style: italic;">
<h1>&#8220;{{ greeting.greeting_text }}&#8221;</h1>
</div>
<img src="/static/chicago-boss.png" />
<p>If you can read this, Chicago Boss was set up successfully.</p>
<p>To show you how things work around here, Boss ships with a simple model called <code>greeting</code>. You can:</p>
<ul>
    <li>Read the API documentation for <code>greeting</code> at <a href="/doc/greeting">/doc/greeting</a></li>
    <li>Add and delete greetings at <a href="/admin/model/greeting">/admin/model/greeting</a></li>
</ul>
<p>(The /doc and /admin interfaces will be available for all models you create with no additional coding.)</p>
<p>More docs are available on the website:</p>
<p><strong><a href="http://www.chicagoboss.org/">ChicagoBoss.org</a></strong></p>
</div>
