<html>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <head>
    </head>
    <body>
<div style="text-align: center;">
<div style="font-style: italic;">
<h1>&#8220;{{ greeting.greeting_text }}&#8221;</h1>
</div>
<img src="/static/chicago-boss.png" />
<p>{% trans "If you can read this and still possess all ten fingers, Chicago Boss was set up successfully." %}</p>
<ul>
    <li><p>Beginner's guide: <a href="http://www.evanmiller.org/chicago-boss-guide.html">"An Evening With Chicago Boss"</a></p></li>
    <li><p>Full API documentation at <a href="http://www.chicagoboss.org/api.html">chicagoboss.org</a></p></li>
    <li><p>Local model documentation at <a href="/doc/greeting">/doc</a></p></li>
    <li><p>Administrative interface at <a href="/admin">/admin</a></p></li>
    <li><p>Internationalization Command Center at <a href="/admin/lang">/admin/lang</a></p></li>
    <li><p>Mailing list at <a href="http://groups.google.com/group/chicagoboss">Chicago Boss Google Group</a></p></li>
</ul>
</div>
</body>
</html>
