[{boss, [
    {db_adapter, mongodb},
    {log_dir, "log"},
    {front_page, {"hello", "world"}},
    {default_action, "index"},
    {default_actions, [{"admin", "model"}]},
    {server, mochiweb},
    {port, 8001},
    {session_adapter, ets},
    {session_key, "_boss_session"},
    {session_exp_time, 525600}
]}].
