{erl_opts, [debug_info]}.
{template_dir, "."}.
{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "1.2.2"}}},
    %{boss_db, ".*", {git, "git://github.com/evanmiller/boss_db.git",  "44a5682f3e"}},
    {boss_db, ".*", {git, "git://github.com/evanmiller/boss_db.git",  "HEAD"}},
    {tinymq, ".*", {git, "git://github.com/evanmiller/tinymq.git",    "HEAD"}},
    {tiny_pq, ".*", {git, "git://github.com/evanmiller/tiny_pq.git",  "HEAD"}},
    {erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl.git",  "HEAD"}},
    {jaderl, ".*", {git, "git://github.com/evanmiller/jaderl.git",    "HEAD"}},

    %% Uncomment the follwing line if you have Erlang R15 and want Elixir support
    % {elixir, ".*", {git, "git://github.com/elixir-lang/elixir.git", {tag, "v0.8.1"}}},
    %% Then copy priv/web_controller.ex to src/ in this directory and recompile
    %% See README_ELIXIR for more details.

    {gen_smtp, ".*", {git, "git://github.com/Vagabond/gen_smtp.git",  "0558786233"}},
    {misultin, ".*", {git, "git://github.com/ostinelli/misultin.git", {tag, "misultin-0.9"}}},
    {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git",     {tag, "v2.4.2"}}},
    {simple_bridge, ".*", {git, "git://github.com/nitrogen/simple_bridge.git", "4ab0342634"}},
    {poolboy, ".*", {git, "git://github.com/devinus/poolboy.git", {tag, "1.0.0"}}},
    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {tag, "0.8.2"}}},
    {mochicow, ".*", {git, "git://github.com/evanmiller/mochicow.git", "r16-compat"}}
  ]}.
{erlydtl_opts, [
    {doc_root,   "src/boss"},
    {out_dir,    "ebin"},
    {source_ext, ".dtl"},
    {module_ext, ""}
    ]}.
{lib_dirs, ["deps/elixir/lib"]}.
