%-*-Erlang-*-
{erl_opts, [debug_info,
	    {parse_transform, lager_transform},
	    {parse_transform, cut},
	    {parse_transform, do},
	    {parse_transform, import_as}
	   ]}.

{template_dir, "."}.
{deps, [
        % maintained by CB team
        {boss_db,               ".*",   {git, "git://github.com/ChicagoBoss/boss_db.git",   	{tag, "v0.8.10"}}},
        {tinymq,                ".*",   {git, "git://github.com/ChicagoBoss/tinymq.git",    	"HEAD"}},
        {tiny_pq,               ".*",   {git, "git://github.com/ChicagoBoss/tiny_pq.git",   	{tag, "v0.8.9"}}},
        {mochicow,              ".*",   {git, "git://github.com/ChicagoBoss/mochicow.git",  	"r16-compat"}},

        % maintained by others
        {lager,                 ".*",   {git, "git://github.com/basho/lager.git", 	    	{tag, "2.0.3"}}},
        {erlando,               ".*",   {git, "git://github.com/travelping/erlando.git",    	"HEAD"}},
        {erlydtl,               ".*",   {git, "git://github.com/erlydtl/erlydtl.git",       	{tag, "0.9.0"}}},
        {jaderl,                ".*",   {git, "git://github.com/erlydtl/jaderl.git", 		"HEAD"}},
        
        %% Uncomment the follwing line if you have Erlang R16B and want Elixir support
        %{elixir,               ".*",   {git, "git://github.com/elixir-lang/elixir.git",	{tag, "v0.12.0"}}},
        %% Then copy priv/elixir to src/ in this directory, run "mix deps.get", and recompile
        %% See README_ELIXIR for more details.
        
        {lfe,                   ".*",   {git, "git://github.com/rvirding/lfe.git",		"fb7c96eb17"}},
        {gen_smtp,              ".*",   {git, "git://github.com/Vagabond/gen_smtp.git",  	"fd0426c464"}},
        {mochiweb,              ".*",   {git, "git://github.com/mochi/mochiweb.git",     	{tag, "v2.7.0"}}},
        {simple_bridge,         ".*",   {git, "git://github.com/nitrogen/simple_bridge.git", 	{tag, "v1.4.0"}}},
        {poolboy,               ".*",   {git, "git://github.com/devinus/poolboy.git", 		{tag, "1.0.1"}}},
        {cowboy,                ".*",   {git, "git://github.com/extend/cowboy.git", 		{tag, "0.9.0"}}},
        {proper,		".*",	{git, "git://github.com/manopapad/proper.git",		"HEAD"}}


  ]}.
{erlydtl_opts, [
		{doc_root,   "src/boss"},
		{out_dir,    "ebin"},
		{source_ext, ".dtl"},
		{module_ext, ""},
		{compiler_options, [debug_info]},
		report, return
    ]}.
{lib_dirs, ["deps/elixir/lib", "deps"]}.

{cover_enabled, true}.
{plugins, [rebar_ct]}.
