{erl_opts, [debug_info]}.
{template_dir, "."}.
{deps, [
    {riakc, "1.1.*", {git, "git://github.com/basho/riak-erlang-client", {tag, "aa5c64a6a04192662d9c"}}},
    {riakpool, "0.1", {git, "git://github.com/dweldon/riakpool", {tag, "HEAD"}}},
    {gen_leader, ".*", {git, "git://github.com/bipthelin/gen_leader_revival.git", "master"}}
  ]}.
