%%%
%%% CHICAGO BOSS PROJECT SKELETON
%%%
%%% This file can be modified by you to avoid you needing to reenter
%%% defaults when creating new projects.  For full configuration
%%% details, please visit
%%% https://github.com/ChicagoBoss/ChicagoBoss/wiki/Configuration

%%% When running tests, you may want to create a separate configuration file
%%% "boss.test.config" which, if present, will be read instead of boss.config.

[{boss, [
         {path, "./deps/boss"},
         {applications, [{{appid}}]},
         {assume_locale, "en"},

         %% {compiler_options, [return_errors]},

         {db_host, "localhost"},
         {db_port, 1978},
         {db_adapter, mock},
         %% {db_username, "boss"},
         %% {db_password, "boss"},
         %% {db_database, "boss"},

         {port, 8001},
         {server, cowboy},

         {session_adapter, mock},
         {session_key, "_boss_session"},
         {session_exp_time, 525600},
         {session_cookie_http_only, false},
         {session_cookie_secure, false},
         %% {session_enable, true},
         %% {session_domain, ".domain.com"},

         {template_tag_modules, []},
         {template_filter_modules, []},
        ]},

 %% MESSAGE QUEUE

 { tinymq, [
           ]},

 %% LOGGING
 {lager, [
          {handlers, [
                      {lager_console_backend, info},
                      {lager_file_backend, [
                                            {"log/error.log", error, 10485760, "$D0", 5},
                                            {"log/console.log", info, 10485760, "$D0", 5}
                                           ]}
                     ]}
         ]},

 %% APPLICATION CONFIGURATIONS
 { {{appid}}, [
               {path, "../{{appid}}"},
               {base_url, "/"}
              ]}
].
