{% extends "api.html" %}
{% block api_content %}
<p>Chicago Boss liked <a href="http://docs.djangoproject.com/en/dev/topics/templates/">Django's templating language</a> so much, he decided to steal it. Template files go in your project's View folder, and will have access to the variables you pass from your <a href="api-controller.html#nav">Controller</a>.</p>

<p>Almost all of Django's <a href="http://docs.djangoproject.com/en/dev/ref/templates/builtins/#built-in-tag-reference">tags</a> are implemented, including the ones for template inheritance. In addition, the following filters are available to Chicago Boss:</p>
<table style="margin-left: 120px; margin-top: 30px;">
    {% for filter in filters %}
    {% if filter.description %}
    <tr><td>
            <a href="http://docs.djangoproject.com/en/dev/ref/templates/builtins/#{{ filter.function }}">{{ filter.function }}</a></td>
        <td>{{ filter.description }}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
{% endblock %}
