{% extends "api.html" %}
{% block api_content %}
<p>BossDB is a database abstraction layer used for querying and updating the database. Currently only Tokyo Tyrant is supported, but other drivers will be added in the future.</p>
<p>Functions in the <code>boss_db</code> module include:</p>
{% for function in functions %}
{% if function.description_long %}
<div class="code">
    {{ function.function }}{% if function.typespec %}{{ function.typespec }}{% endif %}
</div>
<p>{{ function.description_long }}</p>
{% endif %}
{% endfor %}
{% endblock %}
