{% extends "index.html" %}
{% block header %}
        <div class="equation">
            <span style="background-color: #B80009;">Rails Idioms</span> +
            <span style="background-color: #004B00;">Django Templates</span> +
            <span style="background-color: #0D0075;">Erlang Power</span> =
            <em>Chicago</em> <strong>BOSS</strong>
        </div>
{% endblock %}
{% block nav %}
<a href="index.html">F.A.Q.</a> &nbsp; | &nbsp; 
<a href="compare.html">COMPARE</a> &nbsp; | &nbsp; 
<a href="guide.html">GUIDES</a> &nbsp; | &nbsp; 
<strong>API</strong> &nbsp; | &nbsp; 
<a href="download.html">DOWNLOAD</a> &nbsp; | &nbsp;
<a href="forum.html">COMMUNITY</a>
{% endblock %}

{% block content %}
<div style="text-align: center; font-style: italic;">
<p>The Chicago Boss API is mostly stable, but still might change before 1.0.</p>
</div>
<div class="subnav">
    {% ifequal this_page "api-db.html" %}
    <strong>BossDB</strong>
    {% else %}
    <a href="api-db.html">BossDB</a>
    {% endifequal %}
    &nbsp; | &nbsp; 
    {% ifequal this_page "api-record.html" %}
    <strong>BossRecord</strong>
    {% else %}
    <a href="api-record.html">BossRecord</a> 
    {% endifequal %}
    &nbsp; | &nbsp;
    {% ifequal this_page "api-controller.html" %}
    <strong>Controllers</strong>
    {% else %}
    <a href="api-controller.html">Controllers</a> 
    {% endifequal %}
    &nbsp; | &nbsp;
    {% ifequal this_page "api-view.html" %}
    <strong>Django Templates</strong>
    {% else %}
    <a href="api-view.html">Django Templates</a>
    {% endifequal %}
</div>
<div style="padding-top: 20px;">
{% block api_content %}
{% endblock %}
</div>
{% endblock %}

