{% extends "index.html" %}
{% block nav %}
<a href="index.html">F.A.Q.</a> &nbsp; | &nbsp; 
<a href="example.html">EXAMPLE</a> &nbsp; | &nbsp; 
<strong>API</strong> &nbsp; | &nbsp; 
<a href="download.html">DOWNLOAD</a> &nbsp; | &nbsp;
<a href="forum.html">FORUM</a>
{% endblock %}

{% block content %}
<div style="text-align: center; font-style: italic;">
<p>The Chicago Boss API is still experimental and subject to change!</p>
</div>
{% block api_nav %}
<div style="text-align: center; font-size: 20px; padding: 16px;">
    {% ifequal this_page "api-db.html" %}
    <strong>BossDB</strong>
    {% else %}
    <a href="api-db.html">BossDB</a>
    {% endifequal %}
    &nbsp; | &nbsp; 
    {% ifequal this_page "api-record.html" %}
    <strong>BossRecord</strong>
    {% else %}
    <a href="api-record.html">BossRecord</a> 
    {% endifequal %}
    &nbsp; | &nbsp;
    {% ifequal this_page "api-controller.html" %}
    <strong>Controllers</strong>
    {% else %}
    <a href="api-controller.html">Controllers</a> 
    {% endifequal %}
    &nbsp; | &nbsp;
    {% ifequal this_page "api-view.html" %}
    <strong>ErlyDTL</strong>
    {% else %}
    <a href="api-view.html">ErlyDTL</a>
    {% endifequal %}
</div>
{% endblock %}
<div style="padding-top: 20px;">
{% block api_content %}
{% endblock %}
</div>
{% endblock %}

