{% extends "example.html" %}
{% block nav %}
<a href="index.html">F.A.Q.</a> &nbsp; | &nbsp; 
<a href="example.html">EXAMPLE</a> &nbsp; | &nbsp; 
<a href="api.html">API</a> &nbsp; | &nbsp; 
<strong>DOWNLOAD</strong> &nbsp; | &nbsp; 
<a href="forum.html">COMMUNITY</a>
{% endblock %}
{% block content %}
<p>Chicago Boss is <em>unstable</em> and should only be used by developers interested in trying out the latest and greatest technology. Check out the code from GitHub:
<ul>
    <li><strong><a href="http://github.com/evanmiller/ChicagoBoss">ChicagoBoss on GitHub</a></strong></li>
</ul>
<p>And of course you'll need Tyrant:</p>
<ul>
    <li><a href="http://1978th.net/tokyotyrant/">Download Tokyo Tyrant</a></li>
</ul>
{% endblock %}
