{% extends "index.html" %}
{% block nav %}
<a href="index.html">F.A.Q.</a> &nbsp; | &nbsp; <strong>EXAMPLE</strong> &nbsp; | &nbsp; <a href="api.html">API</a> &nbsp; | &nbsp; <a href="download.html">DOWNLOAD</a>
{% endblock %}
{% block content %}
<p><em>This trivial example demonstrates how to define, create, save, and display relational records for the obligatory blog application using Chicago Boss.</em></p>

<p>Model/blog_post.erl:</p>
<div class="code">
    <span class="attr">-module</span>(blog_post, [Id, Title, Text, AuthorId]).<br />
    <span class="attr">-compile</span>(export_all).<br />
    <span class="attr">-belongs_to</span>(author).
</div>

<p>Model/author.erl:</p>
<div class="code">
    <span class="attr">-module</span>(author, [Id, Name]).<br />
    <span class="attr">-compile</span>(export_all).<br />
    <span class="attr">-has_many</span>(blog_posts).
</div>

<p>Controller/blog_post_controller.erl:</p>
<div class="code">
    <span class="attr">-module</span>(blog_post_controller).<br />
    <span class="attr">-compile</span>(export_all).<br />
    <br />
    generate_and_show(Req) -&gt;<br />
    &nbsp;&nbsp;&nbsp;&nbsp;Author = <span class="function">author</span>:<span class="function">new</span>(id, <span class="string">"My Name"</span>),<br />
    &nbsp;&nbsp;&nbsp;&nbsp;SavedAuthor = <span class="function">Author</span>:<span class="function">save</span>(),<br />
    &nbsp;&nbsp;&nbsp;&nbsp;BlogPost = <span class="function">blog_post</span>:<span class="function">new</span>(id, <span class="string">"My Title"</span>, <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="string">"My Text"</span>, <span class="function">SavedAuthor</span>:<span class="function">id</span>()),<br />
    &nbsp;&nbsp;&nbsp;&nbsp;{ok, [{blog_post, <span class="function">BlogPost</span>:<span class="function">save</span>()}]}.<br />
</div>

<p>View/blog_post/generate_and_show.html:</p>

<div class="code">
    <span class="bracket">&lt;<span class="name">h1</span>&gt;</span><span class="braces">{{ "{{" }}</span> <span class="var">blog_post</span>.<span class="attr">title</span> <span class="braces">{{ "}}" }}</span><span class="bracket">&lt;/<span class="name">h1</span>&gt;</span><br />
    By <span class="braces">{{ "{{" }}</span> <span class="var">blog_post</span>.<span class="attr">author</span>.<span class="attr">name</span> <span class="braces">{{ "}}" }}</span><br />
    (Post #<span class="braces">{{ "{{" }}</span> <span class="var">blog_post</span>.<span class="attr">author</span>.<span class="attr">posts</span>|length <span class="braces">{{ "}}" }}</span>)<br />
    <span class="bracket">&lt;<span class="name">p</span>&gt;</span><span class="braces">{{ "{{" }}</span> <span class="var">blog_post</span>.<span class="attr">text</span> <span class="braces">{{ "}}" }}</span><span class="bracket">&lt;/<span class="name">p</span>&gt;</span>
</div>

<p>Database schema:</p>

<div class="code" style="text-align: center;">NONE</div>
{% endblock %}
