{% extends "example.html" %}
{% block nav %}
<a href="index.html">F.A.Q.</a> &nbsp; | &nbsp; 
<a href="compare.html">COMPARE</a> &nbsp; | &nbsp; 
<a href="guide.html">GUIDE</a> &nbsp; | &nbsp; 
<a href="api.html">API</a> &nbsp; | &nbsp; 
<a href="download.html">DOWNLOAD</a> &nbsp; | &nbsp; 
<strong>COMMUNITY</strong>
{% endblock %}
{% block content %}
<p>The best place to talk all things Boss is the new Chicago Boss mailing list.</p>
<ul>
    <li><strong><a href="http://groups.google.com/group/chicagoboss">Visit the Chicago Boss mailing list</a></strong></li>
</ul>
<p>There's also a Chicago Boss Forum hosted at evanmiller.org. It mainly exists to show off a functioning app written in Boss.</p>
<ul>
    <li><a href="http://forums.evanmiller.org/forum/view?id=forum-14">Visit the Chicago Boss Forum</a></li>
</ul>
{% endblock %}
