<html>
    <head>
        <title>{% block title %}Chicago Boss - the MVC that packs a punch{% endblock %} (chicagoboss.org)</title>
        <link rel="stylesheet" type="text/css" href="boss.css" />
            {% block style %}
        <style type="text/css">
        </style>
            {% endblock %}
    </head>
    <body>
        {% block header %}
        <div class="equation">
            <span style="background-color: #B80009;">Rails Idioms</span> +
            <span style="background-color: #004B00;">Django Templates</span> +
            <span style="background-color: #0D0075;">Erlang Power</span> =
        </div>
        <div style="padding: 40px;">
            <span class="chicago">Chicago</span><br />
            <span class="boss">BOSS</span>
        </div>

        <div class="quote">
            <a name="nav"></a>
            &#8220;Don&#8217;t you worry about that. You just let Boss worry about that.&#8221;
        </div>
        {% endblock %}
        <div class="nav">
            {% block nav %}
            <strong>F.A.Q.</strong> &nbsp; | &nbsp; 
            <a href="compare.html">COMPARE</a> &nbsp; | &nbsp; 
            <a href="guide.html">GUIDE</a> &nbsp; | &nbsp; 
            <a href="api.html">API</a> &nbsp; | &nbsp; 
            <a href="download.html">DOWNLOAD</a> &nbsp; | &nbsp;
            <a href="forum.html">COMMUNITY</a>
            {% endblock %}
        </div>
        <div style="position: relative;">
            <div class="content">
                {% block content %}
                <p class="question">What's news?</p>
                <p><em>May 22, 2010</em> &ndash; Chicago Boss 0.3.2 is out (<a href="download.html">download</a>) and has <strong>major, major</strong> performance improvements, as well prettier error messages, pagination on the /admin interface, and boolean operator support in the template language. By the way, if you haven't seen it already, be sure to check out the beginner's guide, <a href="http://www.evanmiller.org/chicago-boss-guide.html">&#8220;An Evening With Chicago Boss&#8221;</a>.</p>

                <p class="question">How is Chicago Boss different from other Erlang MVC frameworks?</p>

                <p>Chicago Boss features:</p>
                <ul>
                    <li><p><strong>Erlang's most advanced ORM.</strong> Boss's Object-Relational Mapping, called <em>BossRecord</em>, uses some compiler magic to add getters, setters, savers, and a host of other useful methods to your parameterized modules, which persist in a Tokyo Tyrant database. Check out the <a href="api-record.html">BossRecord API</a> if you are in a state of disbelief.</p></li>

                    <li><p><strong>Erlang's best templating engine.</strong> Django Template Language gets compiled right down to BEAM (Erlang byte code) with <a href="api-view.html">ErlyDTL</a>. In development mode, templates are automatically recompiled every time you reload a page.</p></li>

                    <li><p><strong>Pattern-matching controllers.</strong> Unlike other frameworks where you have to specify URL-matching patterns in a separate file, Chicago Boss uses Erlang's built-in <em>function-matching</em> to map a URL to an action. This design makes for the cleanest controllers on the market. The <a href="api-controller.html">Controller API</a> has details.</p></li>

                    <li><p><strong>Bonus features.</strong> Chicago Boss automatically generates documentation and an admin interface for each of your models. You don't even have to type "make".</p></li>
                </ul>

                <p class="question">Why should I switch to Erlang from Python/Ruby/Perl/PHP/FORTRAN?</p>

                <p>Because <strong>Erlang is the future of web programming.</strong> No other platform uses a purely <strong>asynchronous</strong> <nobr>I/O</nobr> strategy or has the same <strong>scalability</strong> and <strong>availability</strong>. Chicago Boss lets you take advantage of it all while writing clean, simple, elegant web apps. If you're new to Erlang, be sure to <a href="http://learnyousomeerlang.com/">Learn You Some Erlang For Great Good!</a>.</p>

                <p class="question">I don't want to learn Boss only to find out it's missing Feature X. What features does Chicago Boss lack?</p>

                <p>Great question! Chicago Boss <strong>does NOT</strong> have:</p>
                <ul>
                    <li>Built-in tools for generating RSS</li>
                    <li>Built-in tools for sending email</li>
                    <li>Built-in deployment or monitoring tools</li>
                    <li>Internationalization support</li>
                    <li>Support for partitioned databases</li>
                    <li>Support for databases other than Tokyo Tyrant</li>
                </ul>

                <p>We're anxious for these features, too, and invite you to submit your ideas or patches to the <a href="http://groups.google.com/group/chicagoboss">Chicago Boss mailing list</a>.</p>

                <p class="question">How mature is Chicago Boss?</p>
                <p>Chicago Boss is <strong>still in beta</strong>, but it's getting better every day. The API is small, but performance is great (as of version 0.3.2, at any rate). There might be minor changes to the API before the 1.0 release, but Boss is being used on low-traffic production sites.</p>

                <p class="question">Where can I download Chicago Boss?</p>

                <p>Stroll over to the <a href="download.html">Chicago Boss download page</a></p>
                {% endblock %}
            </div>
        </div>
    </body>
</html>
