<ul>
	<li><a class="index{% if index_section %} selected{% endif %}" href="{{ _base_url }}/admin">Index</a></li>
	<li><a class="routes{% if routes_section %} selected{% endif %}" href="{{ _base_url }}/admin/routes">Routes</a></li>
	<li><a class="model{% if model_section %} selected{% endif %}" href="{{ _base_url }}/admin/model">Models</a></li>
	<li><a class="lang{% if lang_section %} selected{% endif %}" href="{{ _base_url }}/admin/lang">Lang Center</a></li>
	<li><a class="upgrade{% if upgrade_section %} selected{% endif %}" href="{{ _base_url }}/admin/upgrade">Code Upgrade</a></li>
</ul>