[{boss, [
    {applications, [{{appid}}]},
    {db_host, "localhost"},
    {db_port, 1978},
    {db_adapter, mock},
    {log_dir, "log"},
    {server, mochiweb},
    {port, 8001},
%    {servers,[
%        [{engine, mochiweb}, {name,base_server}, {ip,"0.0.0.0"}, {port, 8001}, {ssl_enable, false}, {ssl_options, []}],
%        [{engine, mochiweb}, {name,ssl_server},  {ip,"0.0.0.0"}, {port, 8002}, {ssl_enable, true},  {ssl_options, [{certfile, "server.pem"}, {keyfile, "privkey.pem"}]}]
%        ]},
    {session_adapter, mock},
    {session_key, "_boss_session"},
    {session_exp_time, 525600}
]},
{ {{appid}}, [
    {base_url, "/"}
]}
].
