{% extends "api.html" %}
{% block api_content %}
<p>All configuration takes place in <code>boss.config</code> in your project directory. Valid configuration options are:</p>
<ul>
    <li><code>assume_locale</code> - The presumed locale of translatable strings. Defaults to "en".</li>
    <li><code>db_host</code> - The hostname of the database. Defaults to "localhost".</li>
    <li><code>db_port</code> - The port of the database. Defaults to 1978.</li>
    <li><code>db_username</code> - The username used for connecting to the database (if needed).</li>
    <li><code>db_password</code> - The password used for connecting to the database (if needed).</li>
    <li><code>db_database</code> - The name of the database to connect to (if needed).</li>
    <li><code>db_adapter</code> - The database adapter to use. Valid values are:
    <ul>
        <li><code>mock</code> - In-memory (non-persistent) database, useful for testing</li>
        <li><code>mnesia</code> - Mnesia</li>
        <li><code>mysql</code> - MySQL</li>
        <li><code>pgsql</code> - PostgreSQL</li>
        <li><code>tyrant</code> - Tokyo Tyrant</li>
    </ul></li>
    <li><code>db_shards</code> - A list of proplists with per-shard database configuration. The proplists override the above options, and should contain an additional option:
    <ul>
        <li><code>db_shard_models</code> - A list of models (atoms) which are stored on the shard.</li>
    </ul></li>
    <li><code>log_dir</code> - Directory in which to keep log files. Location is relative to the project directory. Defaults to "log".</li>
    <li><code>mail_driver</code> - The email delivery driver to use. Valid values are:
    <ul>
        <li><code>boss_mail_driver_smtp</code> - SMTP delivery. If <code>mail_relay</code> is present, it is used as a relay, otherwise direct delivery is attempted.</li>
        <li><code>boss_mail_driver_mock</code> - A black hole, useful for testing.</li>
    </ul></li>
    <li><code>mail_relay</code> - The relay server for SMTP mail deliveries.</li>
    <li><code>port</code> - The port to run the HTTP server on. Defaults to 8001.</li>
    <li><code>server</code> - The HTTP server to use. Valid values are:
    <ul>
        <li><code>mochiweb</code> - The <a href="http://code.google.com/p/mochiweb/">Mochiweb</a> Web Server</li>
        <li><code>misultin</code> - The <a href="http://code.google.com/p/misultin/">Misultin</a> Web Server</li>
    </ul>
    <li><code>base_url</code>Sets the base_url passed to the views (for deployments on suburl's)</li>
    <li><code>session_adapter</code> Selects the session driver to use. Valid values:</li>
    <ul>
        <li><code>ets</code> (default)</li>
        <li><code>mnesia</code></li>
    </ul>
    <li><code>session_enable</code> - Whether to enable sessions. Defaults to <code>true</code>.</li>
    <li><code>session_key</code> - Cookie key for sessions. Defaults to "_boss_session"</li>
    <li><code>session_exp_time</code> - Expiration time for the session cookie. Defaults to 1440</li>	
    <li><code>session_mnesia_nodes</code> (optional, Mnesia sessions only) - List of Mnesia nodes, defaults to node()</li>
    <li><code>smart_exceptions</code> - Enable <a href="https://github.com/thomasl/smart_exceptions">smart_exceptions</a>, which provide the line numbers of run-time errors. Defaults to <code>true</code> in development, <code>false</code> in production.</li>
    <li><code>smtp_server_enable</code> - Enable the SMTP server for incoming mail</li>
    <li><code>smtp_server_address</code> - The address that the SMTP server should bind to. Defaults to <code>{0, 0, 0, 0}</code> (all interfaces).</li>
    <li><code>smtp_server_domain</code> - The domain name of the SMTP server</li>
    <li><code>smtp_server_port</code> - The port that the SMTP server should listen on. Defaults to 25.</li>
    <li><code>smtp_server_protocol</code> - The protocol that the SMTP server should use. Valid values are:</li>
    <ul>
        <li><code>tcp</code> (default)</li>
        <li><code>ssl</code></li>
    </ul>
    <li><code>ssl_enable</code> - Enable HTTP over SSL</li>
    <li><code>ssl_options</code> - SSL options; see <a href="http://www.erlang.org/doc/man/ssl.html">ssl(3erl)</a></li>
</ul>
<p><b>Warning:</b> From 0.5.2, the frontpage, default_action and default_actions configuration options has been moved to the <a href="api-controller.html#routes">new routing system</a></p>
{% endblock %}
