{% extends "api.html" %}
{% block api_content %}
<p>BossSession is a multiadapter session management. Currently ets and Mnesia (for distributed setups) are supported. For distributed setups, it is necessary to start Boss with a node name.</p>

<p>BossSession is automatically started, so, by default an ets based session support is provided</p>

<p>BossFlash is a utility on top of boss_session, you can store messages between requests, automatically populated to the view as {{ "{{ boss_flash }}" }} and deleted from session after used.</p>

<h2>boss_session</h2>

<h3>get_session_data/1</h3>
<div class="code">
boss_session:get_session_data(Req) -&gt; list | {error, Reason}
</div>
<p>Get all session data associated to the Request.</p>

<h3>get_session_data/2</h3>
<div class="code">
boss_session:get_session_data(Req, Key) -&gt; list | {error, Reason}
</div>
<p>Get session data for the Request for a given Key.</p>


<h3>set_session_data/3</h3>
<div class="code">
set_session_data(Req,Key,Value) -&gt; ok | {error, Reason}
</div>
<p>Set session data for the Request with key Key and value Value.</p>

<h3>delete_session/1</h3>
<div class="code">
delete_session(Req) -&gt; ok | {error, Reason}
</div>
<p>Delete all session data for the Request.</p>

<h3>remove_session_data/2</h3>
<div class="code">
remove_session_data(Sid, Key) -&gt; ok | {error, Reason}
</div>
<p>Remove the Key from session data for the Request.</p>



<h2>boss_flash</h2>

<p>Add flash messages in the controller like:</p>

<div class="code">
boss_flash:add(Req, notice, "Flash Title", "Flash Message")
</div>

<p>Use the boss_flash var in the view, should render "notice - Flash Title - Flash Message":</p>
<div class="code">
{{ "{% if boss_flash %}" }}
{{ "{{ boss_flash.method }} - {{ boss_flash.title }} - {{ boss_flash.message }}" }}
{{ "{% endif %}" }}
</div>

<h2>Functions</h2>

<h3>boss_flash:add/3</h3>
<p>add(Req, Type, Title)</p>

<h3>boss_flash:add/4</h3>
<p>add(Req, Type, Title, Message)</p>

{% endblock %}
