{% extends "api.html" %}
{% block api_content %}
<p>All configuration takes place in <code>boss.config</code> in your project directory. Valid configuration options are:</p>
<ul>
    <li><code>acceptor_processes</code> - The number of acceptor processes to start (Cowboy only). Defaults to 100. Don't worry about this.</li>
    <li><code>assume_locale</code> - The presumed locale of translatable strings. Defaults to "en".</li>
    <li><code>cache_adapter</code> - The cache adapter to use. Currently the only valid value is <code>memcached_bin</code>.</li>
    <li><code>cache_servers</code> - A list of cache servers (<code>{Host, Port, PoolSize}</code>). Defaults to <code>[{"localhost", 11211, 1}]</code>.
    <li><code>cache_exp_time</code> - The maximum time to keep a cache entry, in seconds. Defaults to 60.</li>
    <li><code>cache_prefix</code> - Prefix for cache keys. Defaults to 'db'.</li>
    <li><code>compiler_options</code> - A list of extra options to be passed to the Erlang compiler invoked by ChicagoBoss. For example, <code>[debug_info]</code> may be specified to make the beam files build with debug information included. Valid options are those available to <a href="http://www.erlang.org/doc/man/compile.html#forms-2">compile:forms/2</a>.</li>
    <li><code>vm_args</code> - A string of additional vm args that will be appended to the start* commands. For example, limit the TCP ports for distributed Erlang traffic (running Erlang through a firewall), you can use <code>{vm_args, "-kernel inet_dist_listen_max 9105 inet_dist_listen_min 9100"}</code></li>
    <li><code>db_host</code> - The hostname of the database. Defaults to "localhost".</li>
    <li><code>db_port</code> - The port of the database. Defaults to 1978.</li>
    <li><code>db_username</code> - The username used for connecting to the database (if needed).</li>
    <li><code>db_password</code> - The password used for connecting to the database (if needed).</li>
    <li><code>db_database</code> - The name of the database to connect to (if needed).</li>
    <li><code>db_adapter</code> - The database adapter to use. Valid values are:
    <ul>
        <li><code>mock</code> - In-memory (non-persistent) database, useful for testing</li>
        <li><code>mnesia</code> - Mnesia</li>
        <li><code>mysql</code> - MySQL</li>
        <li><code>pgsql</code> - PostgreSQL</li>
        <li><code>tyrant</code> - Tokyo Tyrant</li>
    </ul></li>
    <li><code>db_cache_enable</code> - Whether to enable the cache in boss_db. Defaults to false. Requires cache_enable to be set to true.</li>
    <li><code>db_shards</code> - A list of proplists with per-shard database configuration. The proplists override the above options, and should contain an additional option:
    <ul>
        <li><code>db_shard_models</code> - A list of models (atoms) which are stored on the shard.</li>
    </ul></li>
    <li><code>include_dirs</code> - List of additional directories to be searched for files specified in <code>-include</code> directives.</li>
    <li><code>log_enable</code> - Controls whether ChicagoBoss will generate log files. If this is set to <code>false</code>, log messages will still be sent to Erlang's internal <code>error_logger</code> server and may be handled from there. Defaults to <code>true</code>.</li>
    <li><code>mail_driver</code> - The email delivery driver to use. Valid values are:
    <ul>
        <li><code>boss_mail_driver_smtp</code> - SMTP delivery. If <code>mail_relay</code> is present, it is used as a relay, otherwise direct delivery is attempted.</li>
        <li><code>boss_mail_driver_mock</code> - A black hole, useful for testing.</li>
    </ul></li>
    <li><code>mail_relay_host</code> - The relay server for SMTP mail deliveries.</li>
    <li><code>mail_relay_port</code> - The port to connect to on the SMTP relay (optional). Must be an integer.</li>
    <li><code>mail_relay_username</code> - The username used for connecting to the SMTP relay (if needed).</li>
    <li><code>mail_relay_password</code> - The password used for connecting to the SMTP relay (if needed).</li>
    <li><code>mail_relay_use_tls</code> - Specify whether to use tls (optional). Valid values are the atoms <code>if_available</code>, <code>always</code> and <code>never</code>. Defaults to <code>if_available</code>.</li>
    <li><code>master_node</code> - For distributed configurations, the name of the master node. The master node runs global services (incoming mail, message queue, events, sessions). Should be an atom, e.g. <code>somenode@somehost</code>. The node name is specified in the <code>-sname</code> or <code>-name</code> argument in the startup script.</li>
    <li><code>model_manager</code> - The model manager adapter to use. Useful for situations where we need to use an alternative ActiveRecord compiler rather than boss_db.  Defaults to <code>boss_db</code>.</li>
    <li><code>port</code> - The port to run the HTTP server on, or a tuple of the format {env, "PORTVAR"} (where PORTVAR is the name of an environment variable containing the port number). Defaults to 8001.</li>
    <li><code>server</code> - The HTTP server to use. Valid values are:
    <ul>
        <li><code>cowboy</code> - The <a href="https://github.com/extend/cowboy/">Cowboy</a> Web Server</li>
        <li><code>mochiweb</code> - The <a href="http://code.google.com/p/mochiweb/">Mochiweb</a> Web Server</li>
    </ul>
    <li><code>base_url</code>Sets the base_url passed to the views (for deployments on suburl's)</li>
    <li><code>session_adapter</code> Selects the session driver to use. Valid values:</li>
    <ul>
        <li><code>cache</code> - Store sessions in the configured cache servers. Requires <code>cache_enable</code> to be set to <code>true</code>.</li>
        <li><code>mnesia</code> - Mnesia sessions. Note that old sessions are not deleted.</li>
        <li><code>mock</code> - In-memory sessions (default)</li>
    </ul>
    <li><code>session_enable</code> - Whether to enable sessions. Defaults to <code>true</code>.</li>
    <li><code>session_key</code> - Cookie key for sessions. Defaults to "_boss_session"</li>
    <li><code>session_exp_time</code> - Expiration time for the session cookie. Defaults to 1440</li>	
    <li><code>session_mnesia_nodes</code> (optional, Mnesia sessions only) - List of Mnesia nodes, defaults to node()</li>
    <li><code>session_cookie_http_only</code> - If set to <code>true</code>, the <a href="https://www.owasp.org/index.php/HttpOnly"><code>HttpOnly</code></a> flag will be added to the session cookie. Defaults to <code>false</code>.</li>
    <li><code>session_cookie_secure</code> - Whether to add the <a href="http://en.wikipedia.org/wiki/HTTP_cookie#Secure_and_HttpOnly"><code>Secure</code></a> flag with the session cookie. Defaults to <code>false</code>.</li>
    <li><code>smtp_server_enable</code> - Enable the SMTP server for incoming mail</li>
    <li><code>smtp_server_address</code> - The address that the SMTP server should bind to. Defaults to <code>{0, 0, 0, 0}</code> (all interfaces).</li>
    <li><code>smtp_server_domain</code> - The domain name of the SMTP server</li>
    <li><code>smtp_server_port</code> - The port that the SMTP server should listen on. Defaults to 25.</li>
    <li><code>smtp_server_protocol</code> - The protocol that the SMTP server should use. Valid values are:</li>
    <ul>
        <li><code>tcp</code> (default)</li>
        <li><code>ssl</code></li>
    </ul>
    <li><code>ssl_enable</code> - Enable HTTP over SSL</li>
    <li><code>ssl_options</code> - SSL options; see <a href="http://www.erlang.org/doc/man/ssl.html">ssl(3erl)</a></li>
</ul>
<p>Logging with lager</p>
<ul>
<li><code>lager</code> - Lager config, see <a href="https://github.com/basho/lager">Lager Github Readme</a>.</li>
</ul>
<p><b>Warning:</b> From 0.5.2, the frontpage, default_action and default_actions configuration options has been moved to the <a href="api-controller.html#routes">new routing system</a></p>
{% endblock %}
