{% extends "api.html" %}
{% block api_content %}
<p>BossDB is a database abstraction layer used for querying and updating the database. Currently Tokyo Tyrant, Mnesia, MySQL, and PostgreSQL are supported.</p>


<h2>Functions</h2>

<p>Functions in the <code>boss_db</code> module include:</p>

<table class="code"><tbody>
    {% for function in functions %}
    <tr>
        {% if function.description_long %}
        <td><div class="code spec">
                {{ function.function }}{% if function.typespec %}{{ function.typespec }}{% endif %}
            </div></td>
        <td><p>
            {{ function.description_long }}
        </p></td>
        {% endif %}
    {% endfor %}
    </tr>
</tbody></table>


<h2>Conditions and Comparison Operators</h2>

<p>The "find" and "count" functions each take a set of <code>Conditions</code>, which specify search criteria. Similar to Microsoft's <a href="http://msdn.microsoft.com/en-us/library/bb308959.aspx">LINQ</a>, the <code>Conditions</code> can use a special non-Erlang syntax for conciseness. This special syntax can't be compiled with Erlang's default compiler, so you'll have to let Boss compile your controllers which use it.</p>

<p><code>Conditions</code> looks like a list, but each element in the list uses a notation very similar to abstract mathematical notation with a left-hand side (an atom corresponding to a record attribute), a single-character operator, and a right-hand side (values to match to the attribute). <strong>The mathematical operators are not all ASCII!</strong> You may want to copy-paste the UTF-8 operators below. As an alternative, you can also specify each condition with a 3-tuple with easier-to-type operator names.</p>

<p>As a quick example, to count the number of people younger than 25 with occupation listed as "student" or "unemployed", you would use:</p>
<div class="code">
    boss_db:count(person, <br />
    &nbsp;&nbsp;&nbsp;&nbsp;[age &lt; 25, occupation ∈ ["student", "unemployed"]]).
</div>
<p>This could also be written:</p>
<div class="code">
    boss_db:count(person, <br />
    &nbsp;&nbsp;&nbsp;&nbsp;
    [{age, 'lt', 25},<br />
    &nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;
    {occupation, 'in', ["student", "unemployed"]}]).
</div>

<h2>Valid <code>Conditions</code></h2>

<table class="code">
    <thead>
        <tr>
            <th>BossDB Syntax</th>
            <th>Pure Erlang Syntax</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>key&nbsp;=&nbsp;Value</code></td>
        <td><code>{key,&nbsp;'equals',&nbsp;Value}</code></td></td>
        <td>The "<code>key</code>" attribute is exactly equal to <code>Value</code>.</td>
    </tr>
    <tr>
        <td><code>key&nbsp;≠&nbsp;Value</code></td>
        <td><code>{key,&nbsp;'not_equals',&nbsp;Value}</code>
        </td><td>The "<code>key</code>" attribute is not exactly equal to <code>Value</code>.</td>
    </tr>
    <tr>
        <td><code>key&nbsp;∈&nbsp;[Value1,&nbsp;Value2,&nbsp;...]</code></td>
        <td><code>{key,&nbsp;'in',&nbsp;[Value1,&nbsp;Value2,&nbsp;...]}</code></td>
        <td>The "key" attribute is equal to at least one element on the right-hand side.</td>
    </tr>
    <tr>
        <td><code>key&nbsp;∉&nbsp;[Value1,&nbsp;Value2,&nbsp;...]</code></td>
        <td><code>{key,&nbsp;'not_in',&nbsp;[Value1,&nbsp;Value2,&nbsp;...]}</code></td>
        <td>The "key" attribute is not equal to any element on the right-hand side.</td>
    </tr>
    <tr>
        <td><code>key&nbsp;∈&nbsp;{Min,&nbsp;Max}</code></td>
        <td><code>{key,&nbsp;'in',&nbsp;{Min,&nbsp;Max{{ "}}" }}</code></td>
        <td>The "key" attribute is numerically between <code>Min</code> and <code>Max</code>.</td>
    </tr>
    <tr>
        <td><code>key&nbsp;∉&nbsp;{Min,&nbsp;Max}</code></td>
        <td><code>{key,&nbsp;'not_in',&nbsp;{Min, Max{{ "}}" }}</code></td>
        <td>The "key" attribute is not between <code>Min</code> and <code>Max</code>.</td>
    </tr>
    <tr>
        <td><code>key&nbsp;∼&nbsp;RegularExpression</code></td>
        <td><code>{key,&nbsp;'matches',&nbsp;RegularExpression}</code>
        </td><td>The "key" attribute matches the <code>RegularExpression</code>. To perform a case-insensitive match, the expression should start with an asterisk (e.g. <code>*erlang</code>)</td>
    </tr>
    <tr>
        <td><code>key&nbsp;≁&nbsp;RegularExpression</code></td>
        <td><code>{key,&nbsp;'not_matches',&nbsp;RegularExpression}</code></td>
        <td>The "key" attribute does not match the <code>RegularExpression.</code></td>
    </tr>
    <tr>
        <td><code>key&nbsp;∋&nbsp;Token</code></td>
        <td><code>{key,&nbsp;'contains',&nbsp;Token}</code></td>
        <td>The "key" attribute contains <code>Token</code>.</td>
    </tr>
    <tr>
        <td><code>key&nbsp;∌&nbsp;Token</code></td>
        <td><code>{key,&nbsp;'not_contains',&nbsp;Token}</code></td>
        <td>The "key" attribute does not contain <code>Token</code>.</td>
    </tr>
    <tr>
        <td><code>key&nbsp;⊇&nbsp;[Token1,&nbsp;Token2,&nbsp;...]</code></td>
        <td><code>{key,&nbsp;'contains_all',&nbsp;[Token1,&nbsp;Token2,&nbsp;...]}</code></td>
        <td>The "key" attribute contains all tokens on the right-hand side.</td></tr>
    <tr>
        <td><code>key&nbsp;⊉&nbsp;[Token1,&nbsp;Token2,&nbsp;...]</code></td>
        <td><code>{key,&nbsp;'not_contains_all',&nbsp;[Token1,&nbsp;Token2,&nbsp;...]}</code></td>
        <td>The "key" attribute does not contain all tokens on the right-hand side.</td></tr>
    <tr>
        <td><code>key&nbsp;∩&nbsp;[Token1,&nbsp;Token2,&nbsp;...]</code></td>
        <td><code>{key,&nbsp;'contains_any',&nbsp;[Token1,&nbsp;Token2,&nbsp;...]}</code></td>
        <td>The "key" attribute contains at least one of the tokens on the right-hand side.</td></tr>
    <tr>
        <td><code>key&nbsp;⊥&nbsp;[Token1,&nbsp;Token2,&nbsp;...]</code></td>
        <td><code>{key,&nbsp;'contains_none',&nbsp;[Token1,&nbsp;Token2,&nbsp;...]}</code></td>
        <td>The "key" attribute contains none of the tokens on the right-hand side.</td>
    </tr>
    <tr>
        <td><code>key&nbsp;&gt;&nbsp;Value</code></td>
        <td><code>{key,&nbsp;'gt',&nbsp;Value}</code></td>
        <td>The "key" attribute is greater than <code>Value</code>.</td>
    </tr>
    <tr>
        <td><code>key&nbsp;&lt;&nbsp;Value</code></td>
        <td><code>{key,&nbsp;'lt',&nbsp;Value}</code></td>
        <td>The "key" attribute is less than <code>Value</code>.</td>
    </tr>
    <tr>
        <td><code>key&nbsp;≥&nbsp;Value</code></td>
        <td><code>{key,&nbsp;'ge',&nbsp;Value}</code></td>
        <td>The "key" attribute is greater than or equal to <code>Value</code>.</td>
    </tr>
    <tr>
        <td><code>key&nbsp;≤&nbsp;Value</code></td>
        <td><code>{key,&nbsp;'le',&nbsp;Value}</code></td>
        <td>The "key" attribute is less than or equal to <code>Value</code>.</td>
    </tr>
</tbody></table>

{% endblock %}
