<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Chicago Boss: The Official API Reference</title>
        <link rel="stylesheet" type="text/css" href="boss.css" />
    </head>

<body>
<header>
        <p id="link-home"><em><a href="/">Chicago Boss home</a></em></p>

<div style="text-align: center; font-style: italic;">
<p>The Chicago Boss API is mostly stable, but still might change before 1.0.</p>
</div>
<div class="subnav">
    {% ifequal this_page "api-db.html" %}
    <strong>BossDB</strong>
    {% else %}
    <a href="api-db.html">BossDB</a>
    {% endifequal %} 
    &nbsp; | &nbsp; 
    {% ifequal this_page "api-record.html" %}
    <strong>Models</strong>
    {% else %}
    <a href="api-record.html">Models</a> 
    {% endifequal %}
    &nbsp; | &nbsp;
    {% ifequal this_page "api-news.html" %}
    <strong>Events</strong>
    {% else %}
    <a href="api-news.html">Events</a>
    {% endifequal %}
    &nbsp; | &nbsp;
    {% ifequal this_page "api-controller.html" %}
    <strong>Web Controllers</strong>
    {% else %}
    <a href="api-controller.html">Web Controllers</a> 
    {% endifequal %}
    &nbsp; | &nbsp;
    {% ifequal this_page "api-mq.html" %}
    <strong>BossMQ</strong>
    {% else %}
    <a href="api-mq.html">BossMQ</a>
    {% endifequal %}
    &nbsp; | &nbsp; 
    {% ifequal this_page "api-websocket.html" %}
    <strong>WebSockets</strong>
    {% else %}
    <a href="api-websocket.html">WebSockets</a>
    {% endifequal %}
    &nbsp; | &nbsp; 
    {% ifequal this_page "api-session.html" %}
    <strong>Sessions</strong>
    {% else %}
    <a href="api-session.html">Sessions</a>
    {% endifequal %}       
    &nbsp; | &nbsp;
    {% ifequal this_page "api-mail-controller.html" %}
    <strong>Mail</strong>
    {% else %}
    <a href="api-mail-controller.html">Mail</a> 
    {% endifequal %}
    &nbsp; | &nbsp;
    {% ifequal this_page "api-view.html" %}
    <strong>Templates</strong>
    {% else %}
    <a href="api-view.html">Templates</a>
    {% endifequal %}
    &nbsp; | &nbsp;
    {% ifequal this_page "api-test.html" %}
    <strong>Tests</strong>
    {% else %}
    <a href="api-test.html">Tests</a>
    {% endifequal %}
</div>
</header>
<div id="api-content">
{% block api_content %}
{% endblock %}
</div>
</body>
</html>
