{% extends "guide.html" %}
{% block guide_content %}
<p>Want Chicago Boss to support your favorite database? Then write an adapter! This page explains how.</p>
<p>Database adapters should conform to the <code>boss_db_adapter</code> behaviour and need to implement the following nine functions:</p>
<div class="code">
    start() -&gt; {ok, Connection | undefined}
</div>
<p>Performs any initialization and return a Connection value (if needed).</p>
<div class="code">
    stop(Conn) -&gt; ok
</div>
<p>Performs any tear-downs.</p>
<div class="code">
    find(Conn, Id<span class="typevar">::string()</span>) -&gt; BossRecord | {error, Reason}
</div>
<p>Returns a BossRecord matching the <code>Id</code>. The <code>Id</code> must be unique across data types.</p>
<div class="code">
    find(Conn, Type<span class="typevar">::atom()</span>, Conditions, Max<span class="typevar">::integer()</span>, Skip<span class="typevar">::integer()</span>, Sort<span class="typevar">::atom()</span>, SortOrder) -&gt; [BossRecord]
</div>
<p>Queries for BossRecords. The <code>Conditions</code> are guaranteed to be in {Key, Operator, Value} format. See <a href="api-db.html">the BossDB API</a> for a list of query operators you need to support.</p>
<div class="code">
    count(Conn, Type<span class="typevar">::atom()</span>, Conditions) -&gt; <span class="typevar">::integer()</span>
</div>
<p>Counts the number of BossRecords of type <code>Type</code> matching <code>Conditions</code>.</p>
<div class="code">
    counter(Conn, Id<span class="typevar">::string()</span>) -&gt; <span class="typevar">::integer()</span>
</div>
<p>Retrieves the value of a counter, or 0 if the counter does not exist.</p>
<div class="code">
    incr(Conn, Id<span class="typevar">::string()</span>, Increment<span class="typevar">::integer()</span>) -&gt; <span class="typevar">::integer()</span>
</div>
<p>Increments the value of a counter by <code>Increment</code>, and returns the new value.</p>
<div class="code">
    delete(Conn, Id<span class="typevar">::string()</span>) -&gt; ok | {error, Reason}
</div>
<p>Delete the BossRecord with the given <code>Id</code>.</p>
<div class="code">
    save_record(Conn, RecordBossRecord) -&gt; {ok, SavedBossRecord}
</div>
<p>Saves (that is, creates or updates) the given BossRecord in the database. If the ID is set to <code>'id'</code>, the function must generate an ID that is unique across data types. This function should not perform validation or run save hooks.</p>
<p>When you're finished, just:</p>
<ol>
    <li>Put the adapter into src/boss/db_adapters</li>
    <li>Specify the adapter name as the <code>db_adapter</code> in boss.config</li>
    <li>Add any test configuration to src/boss/db_adapters/test_config</li>
    <li>Add a <code>test_&lt;adapter name&gt;</code> target to the bottom of Makefile</li>
    <li>Test the adapter by running <code>make test_&lt;adapter name&gt;</code>
    <li>Send a note to the <a href="http://groups.google.com/group/chicagoboss">Chicago Boss mailing list</a></li>
</ol>
{% endblock %}
