body {
    font-family: Arial;
    text-align: center;
    background-color: black;
}
div.equation {
    color: white;
    font-size: 26px; padding: 20px;
}
div.equation span {
    padding: 6px 10px;
    color: white;
}
span.chicago {
    font-style: italic;
    font-size: 72px;
}
span.boss {
    font-size: 98px;
    font-weight: bold;
}
div.quote {
    font-style: italic;
}
div.code {
padding: 10px; font-family: Courier New; background-color: black; color: white;
}
div.code span.attr {
    color: #00FF1A;
}
div.code span.string {
    color: #F017FF;
}
div.code span.function {
    color: #00DBFF;
}
div.code span.bracket {
    color: #00DBFF;
}
div.code span.keyword {
    color: #FFF200;
}
div.code span.bracket span.name {
    color: #FFF200;
}
div.code span.var {
    color: #00DBFF;
}
div.code span.braces {
    color: #0833C9;
font-weight: bold;
}
div.code span.typevar {
    color: #1249DB;
}
div.code span.comment {
    color: #1249DB;
}
div.code span.atom {
    color: #00FF1A;
}
div.nav {
    clear: both;
    background-color: black;
    color: white;
    font-size: 20px; 
    margin-bottom: 20px;
}
div.nav a {
    color: #ABF9ff;
    font-size: 20px; margin-top: 40px; margin-bottom: 20px;
}
div.subnav {text-align: center; font-size: 18px; padding: 16px;
}
p.question {
    margin: 0px;
    font-style: italic;
    font-weight: bold;
}
div.main_header {
    width: 900px; margin-left: auto; margin-right: auto;
}
div.main_logo {
    text-align: left; 
    padding: 40px; 
    color: white; 
    margin-right: auto; 
    width: 300px; 
    float: left;
}
div.main_checklist {
    color: white; 
    font-size: 30px; 
    text-align: left; 
    float: left; 
    margin-top: 40px; 
    line-height: 36px;
}
div.secondary_header {
    width: 790px; 
    height: 50px; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: left; 
    color: white;
}
div.secondary_logo {
    float: left;
    font-size: 24px;
}
div.secondary_quote {
    float: right;
}
div.content {
    text-align: left; 
    background-color: white;
    position: absolute; 
    margin-left: -425px; 
    left: 50%; 
    padding: 30px 30px;
    width: 790px; 
    border-width: 0px 1px; 
    border-color: black; 
    border-style: solid; font-size: 20px; padding-bottom: 300px;
}
div.content .top_left {
    width: 30px;
    height: 30px;
    background-image: url('http://maps.evanmiller.org/circle/000000/ffffff/30.gif');
    background-repeat: no-repeat;
    background-position: top left;
    top: 0px;
    left: 0px;
    position: absolute;
}

div.content .top_right {
    width: 30px;
    height: 30px;
    background-image: url('http://maps.evanmiller.org/circle/000000/ffffff/30.gif');
    background-repeat: no-repeat;
    background-position: top right;
    top: 0px;
    right: 0px;
    position: absolute;
}
